form(action="/items" method="POST")
    input.form-control(name="text" required type ="text" palceholder="enter text")
    button.btn.btn-success
        | SAVE
//- form(action='/auth/sign-in', method='post')
//- 		label Username:
//- 	        input(type ='text', name ='username')
//- 		label Password:
//- 	        input(type ='password', name ='password')
//-         button.btn.btn-success
//-             | Sign-in
//- 		input(type='submit', value='Log In')


//- form(action='/auth/sign', method='post')
//-     div
//-         label Username:
//-             input(type='text', name='username')
//-         label Password:
//-             input(type='password', name='password')
//-         button.btn.btn-success
//-             | Sign-in 